<a href="https://colab.research.google.com/github/kimyuna36/ICT002_Python/blob/main/week8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def myFunction():
  name=input("이름:")
  age=int(input("나이:"))
  print("이름은{}이고 나이는{}이다.".format(name,age))

myFunction()

이름:김유나
나이:23
이름은김유나이고 나이는23이다.

In [ ]:
#사용자에게 숫자를 입력받아 factorial을 출력하는 함수를 작성하시오.
x=int(input("어떤 숫자:"))
facotial=1

for i in range(x,0,-1):
  factorial*=i
print(f'{x}!={factorial}')

In [ ]:
def myCumSum(a):
  sum=0
  for i in range(1,a+1):
    sum+=i
    print(i,sum)
myCumSum(5)

1 1
2 3
3 6
4 10
5 15

In [ ]:
def myFunction():
  for i in range(5):
    print("Python Programming")
  
myFunction()

Python Programming
Python Programming
Python Programming
Python Programming
Python Programming

In [ ]:
def myFunction():

수행평가

In [ ]:
def printPrg(*args):
    for i in args:
        print(i)

printPrg("Java", "C", "Python", "R", "Web")

Java
C
Python
R
Web

In [ ]:
def strLen(str): #함수 정의
return len(str)
str=["apple", "banana", "cherry", "durian", "mango"]
strnum=list(map(strLen, str))
for i,j in zip(str, strnum):
print("{}\t{}".format(i,j))

In [3]:
def myFunction():
  name=input("이름:")
  age=int(input("나이:"))
  print("이름은 {}이고 나이는 {}세 입니다.".format(name,age))

myFunction()

이름:김유나
나이:23
이름은김유나이고 나이는 23세 입니다.

In [7]:
def gugudan():
  dan=int(input("단?:"))
  for i in range(1,11,1):
    print(dan,"*",i,"=",dan*i)
    i+=1
gugudan()

단?:3
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30