<a href="https://colab.research.google.com/github/kimyuna36/ICT002_Python/blob/main/week4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
odd_cnt=0
even_cnt=0
for i in range(5):
  
  num=int(input("어떤 수:"))

  if num%2==0:
    print(f"{num}은 짝수입니다.")
  else:
    print(f"{num}은 홀수입니다.")
    odd_cnt+=1
    even_cnt+=1
print(f"홀수의 개수:{odd_cnt}")
print(f"짝수의 개수:{even_cnt}")

어떤 수:1
1은 홀수입니다.
어떤 수:2
2은 짝수입니다.
어떤 수:3
3은 홀수입니다.
어떤 수:4
4은 짝수입니다.
어떤 수:5
5은 홀수입니다.
홀수의 개수:0

In [ ]:
for i in range(5,0,-1):
  print (i)

5
4
3
2
1

-range 는 숫자만 담아주지만 리스트는 또 다른 리스트, 실수,문자열 등이 들어갈 수 있음
-alpha=["a","b","c","d","e"]
for i in alpha
대신 
for i in "abcde" 도 가능
-reversed는 list 외에도 사용 가능
-reverse 는 list 에서만 사용 가능

In [ ]:
zoo=["rabbit", "goat","tiger","lion","girrafe", "zebra"] 
for name in zoo[::-1]:
  print(name,end=" ")

zebra girrafe lion tiger goat rabbit

In [ ]:
zoo=["rabbit", "goat","tiger","lion","girrafe", "zebra"] 
num=0
for name in zoo[::1]:
  num=len(name)
  print(f"{name}:{num}")

rabbit:6
goat:4
tiger:5
lion:4
girrafe:7
zebra:5

In [ ]:
zoo=["rabbit", "goat","tiger","lion","girrafe", "zebra"]


for i in range(2):
  user=input("내가 좋아하는 동물은?")
  if user in zoo:
   print(f"{user}(은)는 동물원에 있습니다.")
  else:
    print(f"{user}(은)는 동물원에 없습니다.")

내가 좋아하는 동물은?rabbit
rabbit(은)는 동물원에 있습니다.
내가 좋아하는 동물은?l
l(은)는 동물원에 없습니다.

In [ ]:
num=int(input("원하는 구구단:"))
cnt=1
while cnt<=9:
  print(f"{num}*{cnt}=",num*cnt)
  cnt=cnt+1

원하는 구구단:2
2*1= 2
2*2= 4
2*3= 6
2*4= 8
2*5= 10
2*6= 12
2*7= 14
2*8= 16
2*9= 18

In [ ]:
for i in range(1,6,1) :
  for j in range(1,i+1,1) :
    i+=1
    print(j, end='')
  print()

1
12
123
1234
12345

수행평가

In [ ]:
animal=["dog","duck","pony","donkey","giraffe","elephant","cat"]

for name in animal[::1]:
  if len(name)<5:
    print(name)

dog
duck
pony
cat

In [ ]:
for i in range(2):
  print("i=",i)
  for j in range(3):
    print("\tj=",j)

i= 0
	j= 0
	j= 1
	j= 2
i= 1
	j= 0
	j= 1
	j= 2

In [ ]:
for i in range(1,10,1):
  for j in range(2,10,1):
    print(f"{j}*{i}={i*j}",end="\t")
  print()

2*1=2	3*1=3	4*1=4	5*1=5	6*1=6	7*1=7	8*1=8	9*1=9
2*2=4	3*2=6	4*2=8	5*2=10	6*2=12	7*2=14	8*2=16	9*2=18
2*3=6	3*3=9	4*3=12	5*3=15	6*3=18	7*3=21	8*3=24	9*3=27
2*4=8	3*4=12	4*4=16	5*4=20	6*4=24	7*4=28	8*4=32	9*4=36
2*5=10	3*5=15	4*5=20	5*5=25	6*5=30	7*5=35	8*5=40	9*5=45
2*6=12	3*6=18	4*6=24	5*6=30	6*6=36	7*6=42	8*6=48	9*6=54
2*7=14	3*7=21	4*7=28	5*7=35	6*7=42	7*7=49	8*7=56	9*7=63
2*8=16	3*8=24	4*8=32	5*8=40	6*8=48	7*8=56	8*8=64	9*8=72
2*9=18	3*9=27	4*9=36	5*9=45	6*9=54	7*9=63	8*9=72	9*9=81

In [4]:
for i in range(1,6,1):
  for j in range(1,i+1,1):
    print(i, end="")
  print()

1
22
333
4444
55555

In [5]:
for i in range(1,6,1):
  for j in range(1,i+1,1):
    print(j,end="")
  print()

1
12
123
1234
12345

In [10]:
for i in range(6,0,-1):
  for j in range(5,6-i,-1):
    print(j, end="")
  print()

54321
5432
543
54
5