<a href="https://colab.research.google.com/github/kimyuna36/ICT002_Python/blob/main/week2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
name=input("이름을 입력하세요:")
year,month,day=input("당신이 태어난 해의 년도,월, 일을 차례로 입력하세요:").split(',')
print(f"{name}씨! 당신의 생년월일은 {year}년 {month}월 {day}일입니다.")

print(int(year)+1)

이름을 입력하세요:홍길동
당신이 태어난 해의 년도,월, 일을 차례로 입력하세요:2000,3,6
홍길동씨! 당신의 생년월일은 2000년 3월 6일입니다.
2001

In [ ]:
num1=int(input("첫 번째 정수?"))
num2=int(input("두 번째 정수?"))
num3=int(input("세번째 정수?"))
sum=num1+num2+num3
print(f"{num1}과 {num2}과 {num3}의 합은 {sum:0,d}이다.")

첫 번째 정수?150
두 번째 정수?350
세번째 정수?500
150과 350과 500의 합은 1,000이다.

In [ ]:
kor=int(input("국어:"))
eng=int(input("영어:"))
math=int(input("수학:"))
sum=kor+eng+math
avg=sum/3
print(f"총점:{sum}\n평균:{avg:0,.2f}")

국어:100
영어:80
수학:75
총점:255
평균:85.00

In [ ]:
list_color=["red","blue","orange","green","purple"]
list_color.pop()
print(list_color)

['red', 'blue', 'orange', 'green']

In [ ]:

list_color=["red","blue","orange","green"]
list_color.remove("orange")
print(list_color)

['red', 'blue', 'green']

In [ ]:
list_color=["red","blue","green"]
del list_color[0]
del list_color[0]
del list_color[0]
print(list_color)

[]

chapter2_실습

In [1]:
num=((5*5+2*((25-5)/5))**2)
print(num)

1089.0

chapter2_실습

In [ ]:
num1=(int(input("분자 값")))
num2=(int(input("분모 값")))
num3=num1//num2
num4=num1%num2
print(f"나눗셈 몫={num3}\n나눗셈 나머지={num4}")

분자 값13
분모 값5
나눗셈 몫=2
나눗셈 나머지=3

chapter2_실습

In [3]:
fah=(int(input("화씨온도:")))
cel=(fah-32.0)/1.8
print(f"입력한 화씨온도 {fah}도는 섭씨온도로 {cel:0,.2f}도 이다.")

화씨온도:72
입력한 화씨온도 72도는 섭씨온도로 22.22도 이다.

chapter2_수행평가

In [7]:
allowance=int(input("부모님으로 부터 받은 용돈:"))
change=allowance-3550
five=change//500
hundred=(change-five*500)//100
fifty=(change-five*500-hundred*100)//50

print(f"거스름돈 :{change}원\n500원 짜리 거스름돈 :{five}개\n100원 짜리 거스름돈 :{hundred}개\n50원 짜리 거스름돈 :{fifty}개")

부모님으로 부터 받은 용돈:10000
거스름돈 :6450원
500원 짜리 거스름돈 :12개
100원 짜리 거스름돈 :4개
50원 짜리 거스름돈 :1개

In [ ]:
kor=90
eng=80
math=100
print(kor>=80 and eng>=80 and math>=80 )

True

In [ ]:
str1+=""+str2
str1+=""+str3

chapter3

In [ ]:
number=int(input("어떤 값:"))
nShift=int(input("왼쪽 쉬프트:"))

print(number,nShift)
print(f"왼쪽 쉬프트{number}<<{nShift}=", number<<nShift)

어떤 값:1
왼쪽 쉬프트:3
1 3
왼쪽 쉬프트1<<3= 8

숫자 하나를 입력받아 3의 배수인지 아닌지를 판단하는 프로그램을 작성하시오

In [ ]:
number=int(input("어떤 숫자:"))
message="3의 배수입니다." if number%3==0 else "3의 배수가 아닙니다."

print(f"당신이 입력한 숫자{number}는(은) {message}")

어떤 숫자:16
당신이 입력한 숫자16는(은) 3의 배수가 아닙니다.

In [ ]:
price=int(input("상품 가격?"))
message="True" if price>=60000 else "False"

print(f"할인대상: {message}")

상품 가격?70000
할인대상: True

In [ ]:
age=int(input("나이?"))
message="있습니다." if age>16 else "없습니다."

print(f"이 등급의 영화를 볼 수 {message}")

나이?17
이 등급의 영화를 볼 수 있습니다.

chapter3_수행평가

In [ ]:
letter=(input("알파벳을 입력하세요 "))
message="대문자" if letter.isupper() else "소문자"

print(f"당신이 입력한 문자 {letter}는 {message}입니다")

알파벳을 입력하세요 C
당신이 입력한 문자 C는 대문자입니다

In [10]:
letter=(input("알파벳을 입력하세요 "))
message="대문자" if ord(letter)<=90 else "소문자"

print(f"당신이 입력한 문자 {letter}는 {message}입니다")

알파벳을 입력하세요 A
당신이 입력한 문자 A는 대문자입니다