In [ ]:
a=10
print(a)

10

In [ ]:
print("Hello World")

Hello World

In [ ]:
1+1

2

In [ ]:
print("10 + 10 =", 10+10 ,sep='$')

10 + 10 =$20

In [ ]:
print("12345")

12345

In [ ]:
print("1"+"2"+"3"+"4"+"5")

12345

In [ ]:
print(1,2,3,4,5,sep='')

12345

In [ ]:
print("pyton"+"program")

pytonprogram

In [ ]:
print("python","program")

python program

In [ ]:
print("Python Program is Great Program!")

Python Program is Great Program!

In [ ]:
print("50+50의 합="+" 100")

50+50의 합= 100

In [ ]:
name="홍길동"

In [ ]:
age=20

In [ ]:
print("나의 이름은 ",name,"이고,",sep='')
print("나이는 ",age,"세이다.",sep='')

나의 이름은 홍길동이고,
나이는 20세이다.

In [ ]:
name='홍길동'
age=20
print('나의 이름은',name,'이고,\n','나이는 ',age,'세이다',sep='')

나의 이름은홍길동이고,
나이는 20세이다

In [ ]:
height = 156.987654

print("나의 키는",height,'입니다')
print("나의 키는 {0:.2f}".format(height))

나의 키는 156.987654 입니다
나의 키는 156.99

In [ ]:
length=20
width=20
area=length*width
print("직사각형의 넓이=",area,sep='')

직사각형의 넓이=400

In [ ]:
a=100
b=80
c=75
t=a+b+c
avg=t/3
print("국어:",a,"\n영어:",b,"\n수학:",c,"\n총점:",t,"\n평균: %.2f"%avg)

국어: 100
영어: 80
수학: 75
총점: 255
평균: 85.00