<a href="https://colab.research.google.com/github/kimyuna36/ICT002_Python/blob/main/week5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
for i in range(1,6,1):
  for j in range(65,70,1):
    print(chr(j),end="")
  print()

ABCDE
ABCDE
ABCDE
ABCDE
ABCDE

In [ ]:
for i in range(0,5,1):
  for j in range(0,i+1,1):
    print(j+1,end="")
  print()

1
12
123
1234
12345

In [ ]:
for i in range(0,5,1):
  for j in range(0,i+1,1):
    print(chr(j+65),end="")
  print()

A
AB
ABC
ABCD
ABCDE

In [ ]:
for i in range(1,6,1):
  for j in range(1,i+1,1):
    print(chr(64+j),end="")
    
  print()

A
AB
ABC
ABCD
ABCDE

In [ ]:
for i in range(1,6,1):
  for j in range(1,i+1,1):
    print(j,end="")
  print()

1
12
123
1234
12345

In [ ]:
for i in range(1,6,1):
  for j in range(1,i+1,1):
    print(j-1,end="")
  print()

0
01
012
0123
01234

In [ ]:
chr(65)

'A'

In [ ]:
num=int(input("숫자 하나를 입력하시오:"))
for i in range(num):
  print(i,end=" ")
  if i==5:
    break

숫자 하나를 입력하시오:7
0 1 2 3 4 5

In [ ]:
sum=0
while True:#무한 반복 조건이 참
    #사용자 입력
    value=int(input('숫자: '))
    sum+=value
    #탈출조건 
    if value==0:
      break

print(f"합계:{sum}")

숫자: 3
숫자: 4
숫자: 5
숫자: 0
합계:12

In [ ]:
sum=0
while True:#무한 반복 조건이 참
    #사용자 입력
    value=int(input('숫자: '))
    
    #탈출조건 
    if value>=100:
      break
      
    sum+=value

print(f"합계:{sum}")

숫자: 10
숫자: 3
숫자: 101
합계:13

In [ ]:
sum=0
while True:#무한 반복 조건이 참
    #사용자 입력
    value=int(input('숫자: '))
    
    #탈출조건 
    if value>=100:
      break
    else:  
      sum+=value

print(f"합계:{sum}")

숫자: 10
숫자: 3
숫자: 9
숫자: 101
합계:22

In [ ]:
ans="코알라"
cnt=0
while True:
  user=input("내가 좋아하는 동물?")
  cnt+=1
  if user==ans:
    print(f"{cnt}회만에 정답을 맞추셨습니다.")
    break

내가 좋아하는 동물?강아지
내가 좋아하는 동물?기린
내가 좋아하는 동물?코알라
3회만에 정답을 맞추셨습니다.

In [ ]:
nums=[10,5,77,13,106,1]

for item in nums:

  if item %2==0:
    continue
  
  print(item,end=" ")

5 77 13 1

In [ ]:
sum=0
for i in range(5):
  user=int(input("어떤 수?"))
  if user<0:
      continue
  sum+=user
print(f"양수 합계:{sum}")

어떤 수?1
어떤 수?2
어떤 수?3
어떤 수?-3
어떤 수?4
10

In [ ]:
num=[]
num.count(10)
#10의 개수

In [ ]:
num=[15,23,18,47,23]
even=0
odd=0
for i in num:
  if i%2==0:
    even+=1
  else:
    odd+=1
print(f"홀수 개수={odd}개 \n짝수 개수={even}개")

홀수 개수=4개
짝수 개수=1개

수행평가1

In [ ]:
for i in range(1,6,1):
  for j in range(1,6,1):
    if i>j:
      print(" ",end='')
    else:
      print(j,end='')
  print()

12345
 2345
  345
   45
    5

수행평가2

In [ ]:

num=int(input("숫자 입력:"))
if num==0:
  print(f"{num}(은)는 소수가 아닙니다.")
elif num==1:
  print(f"{num}(은)는 소수가 아닙니다.")
elif num%2==0:
  print(f"{num}(은)는 소수가 아닙니다.")
elif num%3==0:
  print(f"{num}(은)는 소수가 아닙니다.")
elif num%5==0:
  print(f"{num}(은)는 소수가 아닙니다.")
elif num%7==0:
  print(f"{num}(은)는 소수가 아닙니다.")
else:
    print(f"{num}(은)는 소수입니다.")

숫자 입력:90
90(은)는 소수가 아닙니다.

In [ ]:
alphaList=["a","b","c","d","e","f","g","h"]
print(alphaList[4])
print(alphaList[-5])

e
d

In [ ]:
alphaList=["a","b","c","d","e","f","g","h"]
print(alphaList[2:6])
print(alphaList[-6:-2])

['c', 'd', 'e', 'f']
['c', 'd', 'e', 'f']