<a href="https://colab.research.google.com/github/kimyuna36/ICT002_Python/blob/main/week6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
alphalist=['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h']
alphalist[4]
alphalist[-5]

'd'

In [ ]:
 num=[10,15,20,30,3]
 copynum=num
 print(copynum)
 num[3]=25
 print(num)
 print(copynum)

[10, 15, 20, 30, 3]
[10, 15, 20, 25, 3]
[10, 15, 20, 25, 3]

In [ ]:
numList=[11,23,5,7,15,9,8]
sorted(numList,reverse=True)

[23, 15, 11, 9, 8, 7, 5]

In [ ]:
numList=[11,23,5,7,15,9,8]
numList.sort(reverse=True)
print(numList)

[23, 15, 11, 9, 8, 7, 5]

In [ ]:
score=[90,85,100,75,95]
copyScore=list(score)
copyScore.append(100)
print(copyScore)
print(score)

[90, 85, 100, 75, 95, 100]
[90, 85, 100, 75, 95]

In [ ]:
num=(20,30,15,31,23)
sum=0
for i in range(len(num)):
  newNum=sorted(num)
  sum+=newNum[i]
  print(newNum[i])
print(f"합계:{sum}")

15
20
23
30
31
합계:119

In [ ]:
student=[
("인터넷","이정재","010-123-1234", 90),
("미디어","전지현","010-123-4560", 80),
("정통과","송혜교","010-123-2244", 100),
("컴퓨터","김소현","010-123-3355", 85),
("국문과","강하늘","010-123-7890", 95)
]
newStudent=sorted(student,key=lambda x:x[3],reverse=True)
print("학  과\t이 름\t연락처  \t점수")
for i,j,k,l in newStudent:
  print("{}\t{}\t{}\t{}".format(i,j,k,l))

학  과	이 름	연락처  	점수
정통과	송혜교	010-123-2244	100
국문과	강하늘	010-123-7890	95
인터넷	이정재	010-123-1234	90
컴퓨터	김소현	010-123-3355	85
미디어	전지현	010-123-4560	80

In [1]:
grade={'아이키': 90, '박보검': 95, '유아인': 85, '전지현': 100, '송중기': 90}
print(grade)
sorted_grade=sorted(grade.items(),key=lambda k:k[1],reverse=True)
print(sorted_grade)
g_sum=0
for k,v in sorted_grade:
  print(k,v)
  g_sum+=v
print("="*20)
print("합계:",g_sum)

{'아이키': 90, '박보검': 95, '유아인': 85, '전지현': 100, '송중기': 90}
[('전지현', 100), ('박보검', 95), ('아이키', 90), ('송중기', 90), ('유아인', 85)]
전지현 100
박보검 95
아이키 90
송중기 90
유아인 85
====================
합계: 460

In [ ]:
flower=["장미","백합","튤립","국화","수선화"]
for i in flower:
  if len(i)==3:   
    print(i)
print();print()

수선화

In [ ]:
flower=["장미","백합","튤립","국화","수선화"]
flower.append("해바라기")
flower.sort(key=len,reverse=True)
#flower.sort(key=len)
#flower=flower[::-1]

for i in flower:
 print("  ",i,len(i))

   해바라기 4
   수선화 3
   장미 2
   백합 2
   튤립 2
   국화 2

수행평가

In [18]:
movie_list=[("오징어게임",50.45), ("이터널스",35.46),("그레비티",9.8), ("노타임투다이",52.5),("스파이더맨",15.47)]
movie_list_dict=dict(movie_list)
#print(movie_list_dict)
movie_list_sorted=sorted(movie_list_dict.items(),key=lambda x:x[1],reverse=True)
print("영화제목  \t예매율   \t순위")
print("="*8,"\t","="*6,"\t","="*4)
rank=1
for i,j in movie_list_sorted:
  print(i,"\t",j,"\t\t",rank)
  rank+=1

영화제목  	예매율   	순위
======== 	 ====== 	 ====
노타임투다이 	 52.5 		 1
오징어게임 	 50.45 		 2
이터널스 	 35.46 		 3
스파이더맨 	 15.47 		 4
그레비티 	 9.8 		 5